@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> userManager;
@model IEnumerable<EmployeeManagementSystem.Models.Employee>

@{
    ViewData["Title"] = "Employee List";
}

<h1>Employee List</h1>
@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("HR")))
{
    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Add Employee</a>
    </p>
}
@if (signInManager.IsSignedIn(User) && User.IsInRole("Employee"))
{
    <a asp-action="Edit" class="btn btn-outline-primary mt-2 mb-4">Edit Profile</a>
}
<input id="getRole" hidden value="@ViewBag.Message" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tabletoappendEmp">
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qualification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item.department.Name)
                    </td>
                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("HR")))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }

                </tr>
            }*@
    </tbody>
</table>
